
.form-signin{
    width: 400px;
    height: 250px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 14px 2px rgb(216 216 232 / 20%);
}
.form-signup{
    width: 400px;
    height: 550px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 14px 2px rgb(216 216 232 / 20%);
}
.form-group, .form-input{
    display: flex;
    flex-direction: column;
}
.form-group input{
    background: none;
    border: none;
    outline: none;
    padding-left: 10px;   
}
.form-input{
    width: 340px;
    height: 40px;
    border: 1px solid #D9DCE3;
    border-radius: 5px;
    margin-bottom: 10px;
}

.form-input label{
    font-size: 14px;
    color: #A8AAB0;
    padding-left: 10px;
    padding-top: 4px;
}
.form-group button{
    background-color: #5552FF;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 3px;
    color: #C8C7FF;
    box-shadow: 0px 9px 20px 4px #d6d6ff;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.form-group button::after{
    content: "";
    height: 100%;
    width: 100%;
    background-color: #68676A;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.75s ease-in;
}
.form-group button:hover::after{
    width: 0%;
}
.policy{
    color: #A8AAB0;
    display: flex;
    align-items: center;
    font-size: 14px;
}
.policy a{
    text-decoration: none;
}
.text{
    position: relative;
    /* display: flex;
    flex-direction: column;
    justify-content: start; */
}
.text h3{
    color: #68676A;
    margin: 0px !important;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.text p{
    margin-top: 0px !important;
    color: #C4C4C5;
    font-size: 14px;
}
.text p a{
    text-decoration: none;
}