body{
    width: 100vw;
    height: 100vh;
    background-color: #E3E7EB;
    overflow-x: hidden;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    display: inline-block;
    background-color: white;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 168px;
    border-radius: 5px;
}
.breadcrumbs{
    display: flex;
}
.breadcrumbs__link{
    color: #cccc;
}
.breadcrumbs__link--active{
    font-weight: bold;
    font-size: small;
    color: #181D2D;
}
.breadcrumbs__item:not(:last-of-type)::after{
    content: '/';
    margin: 0px 5px;
    color: #C1C4C8;
}
.breadcrumbs__item a{
    text-decoration: none;
}
.page{
    background-color: white;
    width: 1200px;
    height: 600px;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
}
.page-left{
    width: 500px;
    height: 600px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-right{
    width: 700px;
    height: 600px;
    background-image: url(../image/photo-1556710258-181a10df302d.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.form-login{
    /* background-color: blue; */
    padding: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.form-group{
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: center;
}
h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: #181D2D;
}
.heading{
    margin-left: 50px;
    margin-bottom: 20px;
}
p{
    color: #C1C4C8;
}
.form-login .form-group input{
    border: 1px solid black;
    background: none;
    outline: none;
    padding: 5px;
    width: 200px;
    border-radius: 4px;
}
.form-login .form-group button{
    width: 200px;
    border: none;
    background-color: #111727;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}