/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    /* height: 100vh; */
    background-color: #F4E8DE;
    overflow-x: hidden;
}
.page{
    width: 1200px;
    /* height: 1200px; */
    background-color: white;
    margin: 10px auto;
}
/*HEADER*/
.page__header{
    height: 150px;
    /* background-color: rgb(221, 171, 171); */
    display: flex;  
    flex-direction: column;
}

.page__header-top{
    width: 1200px;
    height: 100px;
    /* background-color: black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-top-left, .header-top-mid{
    width: 300px;
    height: 50px;
    /* background-color: rgb(223, 181, 181); */
}

.header-top-left,.header-top-mid,.header-top-right{
    display: flex;
    align-items: center;
}

.header-top-left, .header-top-right{
    width: 25%;
    margin: 0 50px;
}

.header-top-mid{
    width: 50%;
}

.header-top-left img{
    width: 80px;
}

.header-top-mid--search{
    width: 100%;
    background-color: #F5F7F9;
    border-radius: 5px;
}

.header-top-mid--search form{
    display: flex;
    justify-content: space-between;
}
.header-top-mid--search form input[type="text"]{
    width: 80%;
    background: none;
    outline: none;
    border: none;
    padding-left: 10px;
    
}

.header-top-mid--search form button{
    padding: 2px;
    margin: 5px;
    background: none;
    border: none;
    cursor: pointer;
}

.header-top-right{
    display: flex;
    align-items: baseline;
    justify-content: end;
}

.header-top-right a{
    margin: 10px;
    text-decoration: none;
}

.header-top-right a:nth-child(1){
    width: 35px;
    height: 35px;
    background-color: #413B88;
    border-radius: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.header-top-right a:nth-child(1)::after{
    content: "";
    width: 90%;
    height: 90%;
    background-color: #F3E7DD;
    position: absolute;
    border-radius: 50px;
    z-index: -1;
    transition: all 0.7s ease-in-out;
}


.page__header-bottom{
    width: 1200px;
    /* height: 100px; */
    /* background-color: rgb(97, 54, 54); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-bottom__nav{
    width: 900px;
    /* height: 50px; */
    /* background-color: aqua; */
}

.header-bottom__nav--list{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    list-style: none;
}

.header-bottom__nav--item a, .header-top-right a:nth-child(n+2), select {
    color: #C0C5CB;
    text-decoration: none;
    position: relative;
}

.header-bottom__nav--item a::after, .header-top-right a:nth-child(n+2)::after{
    content: "";
    width: 0%;
    height: 3px;
    background-color: #C2A792;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: all 0.5s ease;
}

select{
    border: none;
    outline: none;
    color: #B3BAC1;
}

/*Hover Effect*/
.header-top-right a:nth-child(1):hover::after {
    transform: translateX(50px);
}
.header-bottom__nav--item a:hover,  .header-top-right a:nth-child(n+2):hover, select:hover {
    color: #6C67A3;
}
.header-bottom__nav--item a:hover::after, .header-top-right a:nth-child(n+2):hover::after{
    width: 100%;
}
/*Active */
.active{
    color: #6C67A3 !important;
}
a.active::after{
    width: 100%;
}
/*Main*/
.page__main{
    width: 1200px;
    /* height: 500px; */
    display: flex;
    flex-direction: column;
    /* background-color: cadetblue; */
    align-items: center;
}

.page__main-banner{
    margin: 20px;
    width: 1100px;
    height: 350px;
    background-color: #F3E7DD;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    align-items: center;
    position: relative;
}
.page__main-banner img{
    object-fit: cover;
}
.page__main-banner--text{
    margin: 50px;
}
.page__main-banner--text .heading h1{
    color: #413B89;
    font-size: 40px;
    position: absolute;
    top:100px;
    left: 50px;
}
.page__main-banner--text .paragraph p{
    position: absolute;
    width: 70%;
    font-size: 20px;
    top: 170px;
    left: 50px;
}
.page__main-banner--text .btn a{
    position: absolute;
    top: 230px;
    text-decoration: none;
    padding: 15px;
    background-color: #C2A792;
    color: white;
    border-radius: 5px;
}
.page__main-heading{
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.page__main-heading-left{
    color: #3F434A;
}
.page__main-heading-right a{
    text-decoration: none;
}
.page__main-heading-left, .page__main-heading-right{
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}
.page__main-product-list{

}
.row{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}
.col{
    flex-grow: 1; 
    height: 320px;
    /* background-color: #3F434A; */
    /* border-radius: 10px; */
    margin: 10px;
    width: calc(1200px * (1/6) - 33px);
    overflow: hidden;
}
.card{
    height: 100%;
    /* background-color: #413B88; */
}
.card-thumb{
    /* border: 1px solid black; */
    border-radius: 10px;
    overflow: hidden;
}
.card-thumb img{
    width: 100%;
    border-radius: 10px;
}
.card-heading{
    margin: 1px;
    font-size: medium;
    font-weight: bold;
    color: #565656;
}
.card-author{
    margin: 1px;
    font-size: small;
    color: #B5B5B5;
}
.card-price{
    margin: 1px;
    font-size: small;
    color: #38383D;
}